html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.6s ,background 0.6s ;
  font-family: "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
}

/* html.dark {
  background: #515151;
  color: #cfcfcf;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
